@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

body {
  font-family: Inter;
  /* background-color: rgb(241, 245, 248); */
  color: rgb(16, 42, 66);
}

a {
  text-decoration: none;
  position: relative;
  color: rgb(9, 107, 170);
}

a:visited {
  color: rgb(9, 107, 170);
}

a:hover {
  color: rgb(0, 68, 114);
}

p {
  line-height: 1.8;
}
