@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

body {
  font-family: Inter;
  color: rgb(16, 42, 66);
}

a {
  text-decoration: none;
  position: relative;
  color: rgb(9, 107, 170);
}

a:visited {
  color: rgb(9, 107, 170);
}

a:hover {
  color: rgb(0, 68, 114);
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: 50px;
}

p,
li {
  line-height: 1.8;
}

li:not(:last-child) {
  margin-bottom: 5px;
}
